$light-color: #F2F2F8;
$medium-color: #C9DCFF;
$deep-color: #365FAF;
$bright-color: #5880d1;
$contrast-color: #FFEA7C;
$ligth-contrast-color: #FFF6C9;

$background-color: #F2F2F8;
$areas-background-color: #FFF;

$main-text-color: #000;
$second-text-color: #FFFF;
$powder-text-color: #737396;

$button-color: $deep-color;
$button-light-color: #FFFF;

$input-field-color: #FFFF;
$table-background-color: #FFFF;
$table-second-field-color: #F5F5F9;
$border-color: #E7E7ED;
$selection-color: #E4EAF4;

$error-color: #A70000;

$border-radius: 6px;
