@import '../../../../styles/vars.scss';
@import '../../../../styles/mixins.scss';

.programmes {
  &__new-area {
    &__wrapper {
      height: 100%;
      width: 100%;
      background-color: $medium-color ;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__header {
      margin: 10px 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      .text-input__wrapper {
        width: 100%;
      }
      .programmes__delete-btn {
        width: 36px;
        height: 36px;
        button {
          padding: 6px;
        }
      }
    }

    &__footer {
      padding: 10px;
    }

    &__error-msg {
      line-height: 36px;
      font-weight: bold;
      color: $error-color;
    }

    &__total {
      display: flex;
      gap: 10px;

      &-time {
        &__title {
          white-space: nowrap;
          font-size: 13px;
        }
        &__time {
          background-color: $areas-background-color;
          border-radius: 6px;
          line-height: 30px;
          text-align: center;
        }
      }
    }
  }

  &__draggable-area {
    width: 100%;
    height: 100%;
  }
}