.children-list {
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    text-transform: uppercase;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    align-items: center;

    &__export, &__new {
      display: flex;
      gap: 6px;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      font-weight: bold;
      text-transform: initial;
    }

    &__export span {
      line-height: 32px;
    }
  }
}